C:\Users\Administrator\IdeaProjects\tje\Zaklad\.gitignore
C:\Users\Administrator\IdeaProjects\tje\Zaklad\.idea
C:\Users\Administrator\IdeaProjects\tje\Zaklad\target
C:\Users\Administrator\IdeaProjects\tje\Zaklad\src\java